<!DOCTYPE html>
<html>
  <head>
    <%# クロスサイトリクエストフォージェリ対策 %>
    <%= csrf_meta_tags %>
    <%# CSPの記述 %>
    <%= csp_meta_tag %>
    <%# 以下がないと、解像度でレスポンシブ判定するので困る %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'tailwind', 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container mx-auto px-4">
      <%= yield %>
    </div>
    <%= javascript_include_tag('preline') %>
  </body>
</html>